#game_container{
    position:relative;
    /*border-style:solid;*/
    width: 830px;
    left: -250px;
    padding:0;
}
#game_header{
    /*border-bottom-style:solid;*/
    border-style:solid;
}
#background{
    /*position:relative;*/
    background-color:darkgreen;
    width: 830px;
    right: 768px;
    left: 0;
    height:768px;
    margin: 0;
    z-index: -2;
    border-left-style:solid;
    border-right-style:solid;
}
#table{
    background-image:url("/img/planks.jpg");
    position: relative;
    width: 520px;
    height: 520px;
    border-style:solid;
    left: 153px;
    top: -590px;
    z-index: 1;
}
#table_left_player{
    position:relative;
    border-style: solid;
    width: 180px;
    height: 45px;
    text-align:center;
    top:195px;
    background-color:whitesmoke;
}
#table_front_player{
    position:relative;
    border-style: solid;
    width: 180px;
    height: 45px;
    text-align:center;
    left: 170px;
    top: -175px;
    background-color:whitesmoke;
}
#table_right_player{
    position:relative;
    border-style: solid;
    width: 180px;
    height: 45px;
    text-align:center;
    left: 332px;
    top: -25px;
    background-color:whitesmoke;
}
#opponent_right_container{
    border-style: solid;
    position:relative;
    width: 152px;
    height:648px;
    margin:0;
    padding: 0;
    left:152px;
    top: -653px;
    background-image:url("/img/planks.jpg");
}
#opponent_right_hand{
    position:relative;
    width:auto;
    top:15px;
    height:614px;
    list-style:none;
    overflow-y:scroll;
    overflow-x:hidden;
    text-align:right;
    left:-20px
}
#opponent_right_hand li{
    display:block;
    border-style: solid;
    border:0;
    padding:0;
    float:right;
}
#opponent_left_container{
    border-left:solid;
    border-right:solid;
    position:relative;
    width: 156px;
    height:649px;
    margin:0;
    padding: 0;
    left:0px;
    top: 124px;
    transform:rotateY(180deg);
    background-image:url("/img/planks.jpg");
}
#opponent_left_hand{
    position:relative;
    width:auto;
    top:15px;
    height:614px;
    list-style:none;
    overflow-y:scroll;
    overflow-x:hidden;
    text-align:left;
    left:-20px
}
#opponent_left_hand li{
    display:block;
    border-style: solid;
    border:0;
    padding:0;
    float:left;
}
#top_card_container{
    position:relative;
    left: 205px;
    top: 165px;
    /*border-style: solid;*/
    width: 110px;
}
#opponent_front_container{
    position:relative;
    width: 825px;
    top: -650px;
    height: 125px;
    /*border-style:solid;*/
    border-top: solid;
    border-bottom:solid;
    padding:0px;
    transform:rotateX(180deg);
    -webkit-transform:rotateX(180deg);
    background-image:url("/img/planks.jpg");
}
#opponent_front_hand{
    position:relative;
    width: 720px;
    height: 120px;
    padding:10px;
    /*border-style:solid;*/
    white-space:nowrap;
    overflow-x:scroll;
    overflow-y:hidden;
}
#opponent_front_hand ul {
    list-style:none;
}
#opponent_front_hand li{
    display:inline-block;
    white-space:nowrap;
}
#player_hand_container{
    position:relative;
    width: 830px;
    height: 260px;
    left: 0px;
    border-style:solid;
    padding:0px;
    background-image:url("/img/planks.jpg");
}
#player_hand{
    position:relative;
    width: auto;
    padding:10px;
    white-space:nowrap;
    overflow-x:scroll;
    overflow-y:hidden;
}
#player_hand ul {
    list-style:none;
}
#player_hand li{
    display:inline-block;
    white-space:nowrap;
}
#player_buttons{
    border-top:solid;
    height:150px;
    padding:0;
    margin:0;
}
.card_container{
    /*border-style: solid;*/
    height: 120px;
    width: 110px;
    list-style-type: none;
    margin:5px;
    background-size:100%;
    background-repeat:no-repeat;
}
.card_container:hover{
    transform:scale(1.25);
}
.card_container_horizontal{
    border-style: solid;
    height: 75px;
    width: 120px;
    list-style-type: none;
    padding:5px;
    background-size:100%;
    background-repeat:no-repeat;
}
.card_container_horizontal:hover{
    transform:scale(1.25);
}
#start_game_button{
    position: relative;
}
#end_turn_button{
    position: relative;
    left:400px;
}
#chat-container{
    position:relative;
    left: 598px;
    top: -1090px;
    width: 678px;
    border-style:solid;
    height:828px;
    padding:0;
}
#chat-box::-webkit-scrollbar{
    width:10px;
}
#chat-box::-webkit-scrollbar-track {
    background: #f1f1f1;
}
#chat-box::-webkit-scrollbar-thumb{
    background: #888;
}
#chat-box::-webkit-scrollbar-thumb:hover{
    background: #888;
}
#chat-box{
    /*border-style: solid;*/
    border: 1px solid #000000;
    background-color: lightgray;
    position:relative;
    width:100%;
    height: 705px;
    overflow-y: scroll;
}
#chat-box ul{
    padding:0;
}
#message_form{
    padding:0;
    margin:0;
}
#message_box_container{
    padding:0;
    width:100%;
    height: 58px;
}
#message_button_container{
    text-align:center;
    position:relative;
    width:100%;
    height: 58px;
    margin:0;
    padding:0;
}
#message_button{
    height:100%;
    width:100%;
}
#game_information{
    position:relative;
    border-style:solid;
    top: -1090px;
    left: 598px;
    height:250px;
    width: 678px;
}