#chat-container{
    /*border-style: solid;*/
    border: 1px solid #000000;
    background-color:#000000;
    padding:0;
}
#chat-box::-webkit-scrollbar{
    width:10px;
}
#chat-box::-webkit-scrollbar-track {
    background: #f1f1f1;
}
#chat-box::-webkit-scrollbar-thumb{
    background: #888;
}
#chat-box::-webkit-scrollbar-thumb:hover{
    background: #888;
}
#chat-box{
    /*border-style: solid;*/
    border: 1px solid #000000;
    background-color: lightgray;
    position:relative;
    height: 705px;
    width: 100%;
    overflow-y: scroll;
}
#send-message-container{
    background-color: #000000;
    text-align:center;
}
#lobby-container{
    border: 1px solid #000000;
    background-color: #000000;
    padding:0;
}
#lobby-button-container{
    border: 1px solid black;
    position: relative;
    text-align:center;
}
.join-button{
    margin:5px;
    display:table-cell;
}
#lobby_create_button{
    margin:10px;
    display:table-cell;
}
#lobby-games-container{
    height: 650px;
    position:relative;
    overflow-y: scroll;
    align-items:center;
    background-color:white;
}
#user_container{
    /*border-style:solid;*/
    border: 1px solid #000000;
    background-color: #000000;
    padding:0;
}
#user_form{
    background-color: white;
    padding:10px;
}
#user_box{
    height: 525px;
    position:relative;
    overflow-y: scroll;
    background-color:white;
}
.lobby_header_border{
    border-bottom: 1px solid #000000;
    background-color:white;
}