body {
    background-color: #000000;
}

a {
    text-decoration: none;
    color: black;
}

#login {
    /*float: left;*/
    height: 50px;
    width: 75px;
    background-color: transparent;
}

#register {
    /*float: left;*/
    height: 50px;
    width: 75px;
    background-color: gainsboro;


}

#login p {
    font-family: "Times New Roman";
    font-style: italic;
    text-decoration: underline;
    font-size: medium;
    color: #FF0000;
    position: relative;
    /*top: 12px;*/
    /*left: 12px;*/
    padding:12px;
}

#register p {
    /*position: relative;*/
    /*top: 12px;*/
    /*left: 8px;*/
}

#register a{
    font-family: "Times New Roman";
    font-style: italic;
    font-size: medium;
    display:inline-block;
    z-index:1;
    padding:9px;
    padding-bottom:10px;
    color: black;
    border-style: solid;
    border-color:gainsboro;
    position:relative;
    /*top:0px;*/
    /*left:1px;*/
}

#register a:hover {
    /*font-size: medium;*/
    color: #FF0000;
}

#register:hover {
    background-color: cornsilk;
}

#myDiv {
    top: 120px;
    position: relative;
    margin: auto auto auto auto;
    /*background-color: transparent;*/
    background-image:linear-gradient(lightgray,black);
    width: 590px;
    height: 690px;
    border-style:solid;
    top: 10px;
}

#myForm {
    position: relative;
    top: 25px;
    margin: auto auto auto auto;
    background-color: blanchedalmon;
    width: 550px;
    height: 500px;
}

#myNav {
    position: relative;
    margin: auto auto auto auto;
    /*top: 3.5em;*/
    background-color: #CCCCCC;
    width: 150px;
    height: 50px;
}

#nav_container{
    border:1px solid;
    top: 3.5em;
    position:relative;
    margin:215px;
    margin-top:0;
    margin-bottom:0;
}

#div1 {
    width: 100px;
    height: 100px;
}

#userandpass{
    border: 1px solid;
}

#usernameDiv,#passwordDiv {
    background-color: #CCCCCC;
    height: 34px;
}

#passwordDiv {
    border-top: 1px solid;
}

#username{
    position:relative;
    margin:3px;
    left:-3px;
}
#password{
    position: relative;
    margin:3px;
}
#usernameDiv input,#passwordDiv input {
    padding-left: 8px;
    margin-left: 50px;
    width: 190px;
    height: 28px;
    /*border: 2px solid red;*/
    font-size: 20px;
}

#submitDiv {
    position:relative;
    margin:100px;
    margin-top:50px;
}

#submitDiv input {
    font-family:  "Times New Roman";
    font-size: large;
    font-style: bold;
    color: black;
    background-color: #FFF8DC;
    width: 120px;
    height: 50px;
}

#user,#visitor {
    margin-left: 110px;
    border: none;
}

#visitor:hover,#user:hover {
    background-color: black;
    font-size: larger;
    font-style: bold;
    text-decoration: underline;
    color: white;
}

.s {
    margin-left: 60px;
    font-family: "Times New Roman";
    font-size: large;
}

.spanStyle {
    /*color: red;*/
    font-family: "Times New Roman";
    font-size: larger;
}