body {
    background-color: #000000;
}

a {
    text-decoration: none;
    color: black;
}

#login {
    float: left;
    height: 50px;
    width: 75px;
    background-color: transparent;
}

#register {
    float: left;
    height: 50px;
    width: 75px;
    background-color: gainsboro;
}

#nav_container{
    border:1px solid;
    top: 3.5em;
    position:relative;
    margin:215px;
    margin-top:0;
    margin-bottom:0;
}

#login a {
    font-family: "Times New Roman";
    font-style: italic;
    font-size: medium;
    display:inline-block;
    z-index:1;
    padding:12px;
    padding-top:14px;
    padding-left:26px;
    right:3px;
    top:0px;
    color: black;
    border-style: solid;
    border-color:gainsboro;
    position:relative;
}

#register p {
    font-family: "Times New Roman";
    font-style: italic;
    text-decoration: underline;
    font-size: medium;
    color: #FF0000;
    position: relative;
    /*top: 12px;*/
    /*left: 12px;*/
    /*padding:12px;*/
    padding-left:12px;
}

#register a{
}

#login:hover {
    font-size: medium;
    background-color: cornsilk;
}
#login:hover a{
    text-decoration: underline;
    color: #FF0000;
}

#myDiv {
    top: 120px;
    position: relative;
    margin: auto auto auto auto;
    /*background-color: transparent;*/
    background-image:linear-gradient(lightgray,black);
    width: 590px;
    height: 690px;
    border-style:solid;
    top: 10px;
}

#myForm {
    position: relative;
    top: 30px;
    margin: auto auto auto auto;
    background-color: blanchedalmon;
    width: 550px;
    height: 500px;
}

#myNav {
    position: relative;
    margin: auto auto auto auto;
    background-color: #CCCCCC;
    width: 150px;
    height: 50px;
}

#div1 {
    width: 100px;
    height: 100px;
}

#usernameDiv,#passwordDiv,#repasswordDiv,#mailboxDiv {
    background-color: #CCCCCC;
    height: 34px;
    border: 1px solid #CCCCCC;
}

#passwordDiv,#repasswordDiv,#mailboxDiv {
    /*margin-top: 30px;*/
}

#usernameDiv input,#passwordDiv input,#repasswordDiv input,#mailboxDiv input {
    /*padding-left: 8px;*/
    /*margin-left: 50px;*/
    width: 190px;
    height: 21px;
    /*border: 2px solid red;*/
    font-size: 20px;
}

#repasswordDiv input,#mailboxDiv input {
    /*margin-left: 14px;*/
}


#submitDiv {
    position:absolute;
    margin:50px;
    left:-18px;
}

#submitDiv input {
    font-family:  "Times New Roman";
    font-size: large;
    font-style: bold;
    color: black;
    background-color: #FFF8DC;
    width: 100px;
    height: 50px;
}

#submit {
    margin-left: 200px;
    border: none;
    display: block;
}

#submit:hover {
    background-color: black;
    font-size: larger;
    font-style: bold;
    text-decoration: underline;
    color: white;
}

.s {
    margin-left: 60px;
    font-family: "Times New Roman";
    font-size: large;
}

.spanStyle {
    color: red;
    font-family: "Times New Roman";
    font-size: larger;
}

.container{
    text-align:left;
    width:500px;
    clear:both;
}
.container input{
    width:100%;
    clear:both;
}

#usernameDiv input{
    position:relative;
    left:50px;
}
#mailboxDiv input{
    position:relative;
    left:80px;
}
#passwordDiv input{
    position:relative;
    left:54px;
}
#repasswordDiv input{
    position:relative;
    left:-12px;
}
#input_container{
    border: 1px solid;
}

#mailboxDiv, #repasswordDiv, #passwordDiv{
    border-top: 1px solid;
}